{% extends '__base__.html' %}
{% load static %}

{% block content %}
    <section class="login-page">
        <form method="post" class="form-edit-user" action="{% url 'profile-edit' user.pk %}">
            {% csrf_token %}
            <div>
                <h2> Edytuj dane:</h2>
                <div class="form-group">
                    <input type="text" name="name" value="{{ user.first_name }}" placeholder="Imię"/>
                </div>
                <div class="form-group">
                    <input type="text" name="surname" value="{{ user.last_name }}" placeholder="Nazwisko"/>
                </div>
                <div class="form-group">
                    <input type="text" name="email" value="{{ user.email }}" placeholder="Email"/>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="submit" class="btn btn--green">Zapisz</button>
                    <a href="{% url 'profile' %}" class="btn btn--red">Anuluj</a>
                </div>
            </div>


            <div>
                <h2>Zmień hasło</h2>
                <div class="form-group">
                    <input type="password" name="old_password" placeholder="Stare hasło"/>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password" placeholder="Nowe hasło"/>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password2" placeholder="Powtórz nowe hasło"/>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="submit" class="btn btn--green">Zapisz</button>
                    <a href="{% url 'profile' %}" class="btn btn--red">Anuluj</a>
                </div>
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock content %}
