{% extends '__base__.html' %}
{% load static %}

{% block header %}
    {% if user.is_authenticated %}
        <div>
            <p> Imię: {{ user.first_name }}</p>
            <p> Nazwisko: {{ user.last_name }}</p>
            <p> Email: {{ user.email }}</p>
        </div>

    {% endif %}

{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Przekazane dary:</h3>
        <ul>
            {% for donation in donations %}
                <li>
                    <p>Ilość przekazanych worków: {{ donation.quantity }}<p>
                    <p>Organizacja: {{ donation.institution }}</p>
                    <p>Kategoria: {{ donation.categories }}</p>
                    <p>Data przekazania {{ donation.pick_up_date }}</p>
                </li>

            {% endfor %}
        </ul>
    {% endif %}


{% endblock content %}


</html>